<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Title</title>
    <link href="/css/products/list.css" rel="stylesheet" />
</head>
<body>
<th:block layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <div class = "products-list-container">
        <table class = "products-list-table">
            <thead>
                <th>상품명</th>
                <th>상품가격</th>
            </thead>
            <tr th:each="product : ${products}">
                <td><a th:href="@{/products/view(prodId=${product.prodId})}"><span th:text="${product.prodName}"></span></a></td>
                <td th:text="${product.prodPrice}" style="text-align: right;"></td>
            </tr>
        </table>
        <button onclick="goProductsWrite()">등록</button>
        <button>삭제</button>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script src="/js/products/products.js"></script>
</th:block>

</html>