<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Title</title>
    <th:block th:replace="~{/fragments/products/staticSources :: product-css}"></th:block>
</head>
<body>
<th:block layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <div class = "products-list-container">
        <table class = "products-list-table">
            <thead>
                <th>상품명</th>
                <th>상품가격</th>
                <th>작성자</th>
                <th>등록일자</th>
            </thead>
            <tr th:each="product : ${products}">
                <td><a th:href="@{/products/{prodId}(prodId=${product.id})}"><span th:text="${product.name}"></span></a></td>
                <td th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|" style="text-align: right;"></td>
                <td th:text="${product.writer}"></td>
                <td th:text="${#temporals.format(product.creationTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
        <button onclick="goProductsWrite()">등록</button>
        <button>삭제</button>
    </div>
</th:block>
</body>
<th:block layout:fragment="script" th:replace="~{/fragments/products/staticSources :: product-script}"></th:block>

</html>