<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${title}"></h1>
<div>

    <div>
        <span>상품명 : </span>
        <span th:text="${product.prodName}"></span>
    </div>
    <div>
        <span>상품금액 : </span>
        <span th:text="${product.prodPrice}"></span>
    </div>


    <button onclick="goProductsList()">목록으로</button>
    <button onclick="goProductsWrite()">등록</button>
    <button>삭제</button>
</div>

</body>

<script src="/js/products/products.js"></script>


</html>