<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${title}"></h1>
<div>

    <div>
        <span>상품명 : </span>
        <input id="productName" type="text">
    </div>
    <div>
        <span>상품금액 : </span>
        <input id="productPrice" type="text">
    </div>


    <button onclick="goProductsList()">목록으로</button>
    <button onclick="productWrite()">등록</button>
</div>

</body>
<!--<th:block th:replace="~{/fragments/products/staticProducts :: products}"></th:block>-->

<script src="/js/transfer.js"></script>
<script src="/js/products/products.js"></script>


</html>