<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{/fragments/common/header :: fragment-header}"></header>

    <th:block layout:fragment="content"></th:block>

    <footer th:replace="~{/fragments/common/footer :: fragment-footer}"></footer>

</body>
    <th:block layout:fragment="script"></th:block>
    <th:block th:replace="~{/fragments/common/script :: fragment-script}"></th:block>
</html>