.products-list-container {
    width: 50%;

    > table {
        border-collapse: collapse; /* 해당 속성이 있어야 tr 태그에 border 속성을 넣어줄 수 있음 */
        margin-bottom: 10px;
        width: 100%;

        tr {
            border-bottom: 1px solid #070202;
        }
        td {
            padding: 10px;
        }
        span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        a {
            color: black;
            text-decoration: none;
        }
    }

    > button {
        float: right;
    }
}
